@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


html{ font-family: 'Montserrat', sans-serif; }

body{
    margin: 0 auto;
    padding: 0 auto ; 
}
nav{
  padding-left: 50px;
  border-bottom: solid 2px #d3d3d3;
}

footer{
  margin-top: 70px;
  background: #d3d3d3;
  padding: 25px;
  text-align: center;
}

a{ text-decoration: none; }

h3{font-weight: 500;}
h4{
  font-weight: 500; 
  font-size: .8em; 
  margin-top: -10px; 
  margin-bottom: 30px;
}

.hero{ padding-bottom: 20px; }

.icon > img{
  max-width: 8%;
}

.icon > h2{
  margin-left: 25px;
  display: inline;
  position: absolute;
  top: 39px;
  font-size: 1em;
  letter-spacing: 2px;
}

.navItems{
  display: inline;
  position: absolute;
  padding: 10px;
  top: 45px;
  right: 100px;
}

.navItems > .btn{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  margin-right: 20px;
  letter-spacing: 1px;
}

.featured{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 450px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bg{
  background: url("../images/rallyThumb.png");
  background-size: 100%;
  background-position-x: -100px;
  background-position-y: -25px;
}

.bg1{
  background: url("../images/traning.png");
  background-size: 100%;
}

.hero a{
  text-decoration: none;
}

.featured > h1{
    text-align: center;
    padding-top: 200px;
    text-decoration: none;
}

.featured > p{
    text-align: center;
    padding-top: 10px;
}

.main{ text-align: center; }
.main > h1{
  margin-top: 80px;
  margin-bottom: 100px;
  color: rgb(72, 70, 197);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.2em;
}

.main > .itemWrapper{
  display: inline;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.itemWrapper > a > .item{
  display: inline-block;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  background: rgb(187, 187, 187);
  text-decoration: none;
  -webkit-box-shadow: 10px 0px 64px -30px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 0px 64px -30px rgba(0,0,0,0.61);
  box-shadow: 10px 0px 64px -30px rgba(0,0,0,0.61);
  transition: .5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  border: solid 5px rgba(148, 148, 148, 0);


}

.itemWrapper > a > .item:hover{
  box-shadow: none;
  transition: .5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  border: solid 5px rgb(136, 136, 136);
}


.itemWrapper > a > .item > h1{
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .2em;
  padding-top: 45%;
  text-decoration: none;
  
}

/* CSS For Learning Pages */
.backBtn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background: #000;
  color: #fff;
}

.learnWrapper{
  padding-top: 55px;
  padding-left: 50px;
}

.learnWrapper > .lessonTitle{
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400; 
}

.videoEmbed{
  width: 100%;
}

.next{
  position: absolute;
  right: 80px;
}

.learnWrapper > .introTxt{
  margin-top: 80px;
  padding-right: 350px;
  font-weight: 500;
  line-height: 1.5em;
}
